* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 0;
}

.header {
	padding: 60px;
	text-align: center;
	background: #6B8E23;
	color: white;
}

.navbar {
	display: flex;
	background-color: #8B0000;
}

.navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
} 

.navbar a:hover {
	background-color: #FA8072;
	color: black;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 30%;
	background-color: #FA8072;
	padding: 20px;
}

.fakeimg {
	background-color: #8B0000;
	width: 100%;
	padding: 20px;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #8B0000;
}

@media screen and (max-width: 700px) {
	.row .navbar {
		flex-direction: column;
	}
}

